/* estilos de html Actividades */
.card-title{
    color: aqua;
    text-align: center;
}
.card-text{
    color: antiquewhite;
    text-align: center;
}

.col-md-4{
display: flex;
 flex-direction: column;
 align-items: center;
}