/*estilos del html contacto */
.main-cinco{
    display: flex;
    flex-direction:column;
}
.estilo-contacto{
   color: #FECD70;
}
.img-contacti{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.sec-conta{
    legend{
    text-align: center;
    color: rgb(87, 92, 29);
    text-shadow: 1px 1px 1px black;
    margin-top: 1rem;
    font-weight: bold;
}
}
div{
    label{
    color: rgb(235, 235, 235);
    font-weight: bold;
    margin: 1rem;
    input{     
        border-radius: 5px;
    }
}
}
.caja-coment{
             input{
             height: 80px;
             border-radius: 5px;
}
}