/* estilos de html Galeria */
.contenedor-tres{
    display: flex;
    flex-direction: column;
}
/*estilos de main galeria */
.img-maras, .img-olla, .img-salina, .img-sacsa, .img-armas, .img-colonia, .img-tambo, .img-cate{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 70%;
}

.descri-galeria{
    text-align: center;
    color: aqua;
    font-weight: bold;
    font-size: 25px;
}